@tailwind base;
  @tailwind components;
  @tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;

    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;

    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;

    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;

    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;

    --radius: 0.5rem;
  }

  .dark {
    --gradient: #ec008c;

    --background: -38 65% 3.68%;
    --foreground: -38 10% 97.3%;

    --muted: -38 50% 13.8%;
    --muted-foreground: -38 10% 54.6%;

    --popover: -38 45% 5.98%;
    --popover-foreground: -38 10% 97.3%;

    --card: -38 45% 5.98%;
    --card-foreground: -38 10% 97.3%;

    --border: -38 50% 13.8%;
    --input: -38 50% 13.8%;

    --primary: -38 100% 46%;
    --primary-foreground: -38 10% 4.6000000000000005%;

    --secondary: -38 50% 13.8%;
    --secondary-foreground: -38 10% 97.3%;

    --accent: -38 50% 13.8%;
    --accent-foreground: -38 10% 97.3%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: -38 10% 97.3%;

    --ring: -38 100% 46%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}